#wpstats {
  display: block;
  margin: -5px auto 15px;
}

/* WordPress.com Widgets */
/* Flickr */
#flickr_badge_wrapper {
  background: transparent !important;
  border: 0 !important;
}

#flickr_badge_uber_wrapper {
  margin: 0 auto;
}
#flickr_badge_uber_wrapper td {
  border: 0 !important;
}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
  color: #07a1f2 !important;
}

.widget_recent_comments td {
  border: 0;
  padding: 15px 7.5px 15px 7.5px;
  vertical-align: top;
}

.widget_authors ul,
.widget_author_grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget_authors img {
  float: none;
  vertical-align: middle;
}
.widget_authors li {
  display: block;
  margin-bottom: 30px;
}
.widget_authors li:before,
.widget_authors li:after {
  content: "";
  display: table;
}
.widget_authors li:after {
  clear: both;
}
.widget_authors a {
  text-decoration: none;
}